body {
  text-align: center;
  display: block;
  background-image: url('https://hdwallsource.com/img/2017/3/minimalist-bridge-wallpaper-background-59193-60977-hd-wallpapers.jpg');
  background-size: 100%;
}

img {
  margin: 10px;
  display: inline;
}
