body {
  text-align: center;
  display: block;
  background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/06/Minimalist-Desktop-Wallpaper.jpg');

}

.desc {
  padding: 10px;
  margin: 0px;
  color: white;
  display: inline-block;
  background-color: rgba(2, 2, 2, 0.5);
}

img {
  margin: 10px;
  display: inline;
  height: 50%;
}

h1,h2,h3 {
  margin: 0px;
}

p {
  margin: 5px;
  width: inherit;
}
